.form {
  width: 500px;

  padding: 40px;
  background-image: linear-gradient(to bottom, #1976d2, #36495d);
  /* border-radius: 1rem; */
  color: white;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
  border: 2px solid #1976d2;
  background: white;
  display: block;
  margin: 0px auto;
  text-align: center;
  padding: 14px 10px;
  width: 300px;
  height: 5px;
  border-radius: 1rem;
}

textarea {
  border-radius: 0.5rem;
  text-align: center;
}
.contactUsContainer {
  display: flex;
  justify-content: space-around;
  height: 95vh;
}
.contactUsButton {
  margin-top: 30px;
  background-color: #fbb631;
  padding: 10px;
}
@media screen and (max-width: 1000px) {
  .contactUsContainer,
  .mainContainer {
    height: 100%;
  }
}
