.findJobContainer {
  background-image: linear-gradient(to bottom, #1976d2, #36495d);
  min-height: 90vh;
  overflow-y: scroll;
}
.inputContainer {
  background-color: #1976d2;
  padding: 10px;
}

.inputContainer > input {
  height: 50px;
  width: 40%;
  border-radius: 25px;
  padding: 10px;
}

.jobCardsContainer {
  /* background-color: white; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px 10vw;
  color: white;
  margin-left: 20px;
  margin-right: 50px;
}
.jobDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.jobCards {
  background-color: rgba(255, 255, 255, 0.417);
  border-radius: 10px;
  padding: 20px;
  color: black;
}
.jobCards > h3 {
  color: #fbb631;
}

.jobCards > button {
  background-color: #fbb631;
  padding: 5px 10px;
  border: none;
  margin: 10px;
  border-radius: 8px;
}
.findJobButton {
  width: fit-content;
}
.findJobButtonDiv {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .inputContainer > input {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .inputContainer > input {
    width: 90%;
  }
}
