body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
    
    
    }
    
    
    .box {
        width: 400px;
        height: 490px;
        padding: 40px;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( 10%, -60%); */
        background-color: #aecefe;
        border-radius: 0.5rem ;
        
        
    
    
    }
    .box input[type = "email"], .box input[type="password"] {
        border: 2px solid #2ecc71;
        background: white;
        display:block;
        margin: 0px auto;
        text-align: center;
        padding: 14px 10px;
        width: 250px;
        color: rgb(14, 2, 2);
        border-radius: 20px;
        transition: 0.25s;
        cursor: pointer;
      

    }
    
    
    h1 {
        text-align: center;
        padding-bottom: 20px;
    
    }
    
    .login {
        justify-content: center;
        align-items: center;
        display:flex;
        height: 30px;
        width: 80px;
        background-color: #FBB631;
        transform: translate(155%, 100%);
    }
    
    .box input[type = "submit"]:hover {
        background: #2ecc71;
        cursor: pointer;
    
    }


    a {
            color: white
    }

    a :hover {
        background-color: green
}


/* .login {
    height: 490px;
    width: 550px; */
    /* transform: translate(-42.5%, 30%); */
    /* border-radius: 1rem;
} */

.login_container{
    display: flex;
    
}