.registrationContainer {
  width: 50vw;
  background-color: rgb(255, 255, 255);
  padding: 20px 100px;
  /* border-radius: 25px; */
  box-shadow: 0 0 10px black;
  color: #1976d2;
}
.mainRegContainer {
  background-image: linear-gradient(to bottom, #1976d2, #36495d);
  display: flex;
  justify-content: center;
}
#registerForm input[type="text"],
#registerForm input[type="email"],
#registerForm input[type="password"],
#registerForm input[type="number"],
#registerForm select {
  border: 1px solid #1976d2;
}
.regButton {
  background-color: #fbb631;
  border: 0;
}
.regButton:hover {
  background-color: white;
  border: none;
}
@media screen and (max-width: 1000px) {
  .registrationContainer {
    width: 100%;
    padding: 2%;
  }
}
